<!DOCTYPE html>
<html>
  <head>
    <style>
      a:link {
        background-color: black;
      }

      a:visited {
        background-color: black;
      }

      a:hover {
        background-color: lightgreen;
      }

      a:active {
        background-color: black;
      }
    </style>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Finance Tracker for <%= title %></p>

    <a href="/about/all"> About</a>
    <a href="/user/all">Users - View All</a>
    <a href="/budget/all">Budgets - View All</a>
    <a href="/transaction/all">Transactions - View All</a>
    <a href="/data/main">Tools</a><br>


  </body>
</html>
