<%- include("../includes/header.ejs", {title:"Add a New User"}); %>
<h1>Add New User</h1>
<form action="/user/insert" method="get">
    First Name: <input id="fname" name="fname" type="text" required/>
    <br />
    <br />
    Last Name: <input id="lname" name="lname" type="text" required/>
    <br />
    <br />
    Email: <input id="email" name="email" type="text" required/>
    <br />
    <br />
    budgets
    <br />
    <select id="budget_id" name="budget_id" multiple="multiple">
        <% for(var i=0; budget.length > i; i++ ) { %>
        <option value="<%= budget[i].budget_id %>"><%= budget[i].budget_name + ', ' + budget[i].amount %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#budget_id').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>