<%- include("../includes/header.ejs", {title:"Users"}); %>
<h1>Users</h1>
<ul>
    <li>User Name: <%= result[0].fname %> <%= result[0].lname %></li>
    <li>Budget(es):
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].budget_name + ', ' + result[i].amount %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/user/all"><< back</a>

<%- include("../includes/footer.ejs"); %>