<%- include("../includes/header.ejs", {title: "Update " + user.fname }); %>

<h1>Update <%= user.fname%></h1>
<form action="/user/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= user.account_id %>">
    First Name: <input id="fname" name="fname" type="text" value="<%= user.fname %>" required/>
    <br />
    <br />
    Last Name: <input id="lname" name="lname" type="text" value="<%= user.lname %>"required/>
    <br />
    <br />
    Email: <input id="email" name="email" type="text" value="<%= user.email %>"required/>
    <br />
    <br />

    budgets
    <br />
    <select id="budget_id" name="budget_id" multiple="multiple">
        <% for(var i=0; budget.length > i; i++ ) {
            var selected = "";

            if(budget[i].account_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= budget[i].budget_id %>" <%= selected %> >
            <%= budget[i].budget_name + ', ' + budget[i].amount %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#budget_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>

