<%- include("../includes/header.ejs", {title:"Add a New Transaction"}); %>
<h1>Add New Transaction</h1>
<form action="/transaction/insert" method="get">
    Date made, input like 2017-12-15: <input id="made_on" name="made_on" type="text" required/>
    <br />
    <br />
    Amount: <input id="amount" name="amount" type="text" required/>
    <br />
    <br />
    Description: <input id="description" name="description" type="text" required/>
    <br />
    <br />
    Income/Expense:
    <select id ="type_of" name="type_of">
        <option value="Income"> Income</option>
        <option value="Expense"> Expense</option>
    </select>
    <br />
    <br />
    budgets belong to:
    <br />
    <select id="budget_id" name="budget_id" multiple="multiple">
        <% for(var i=0; budget.length > i; i++ ) { %>
        <option value="<%= budget[i].budget_id %>"><%= budget[i].budget_name %></option>
        <% } %>
    </select>
    <br />
    <br />
    Made from:
    <br />
    <select id="account_id" name="account_id">
        <% for(var i=0; user.length > i; i++ ) { %>
        <option value="<%= user[i].account_id %>"><%= user[i].fname %></option>
        <% } %>
    </select>
    <br />
    <br />

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#budget_id').multiselect();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#type_of').multiselect();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#account_id').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>