<%- include("../includes/header.ejs", {title:"Users"}); %>
<h1>Users</h1>
<ul>
    <li>ID: <%= result[0].trans_id %> </li>
    <li>Made on: <%= result[0].made_on %> </li>
    <li>Description: <%= result[0].description %></li>
    <li>Income/Expense: <%= result[0].type_of%></li>
    <li>Budget(es) Belonging to:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].budget_name + ', ' + result[i].amount %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/transaction/all"><< back</a>

<%- include("../includes/footer.ejs"); %>