<%- include("../includes/header.ejs", {title:"User - View All"}); %>

<h1>Users</h1>
<a href="/transaction/add">Add New Transaction</a> <br />

<br />

<table border="1">
    <tr><th>Description</th><th>Amount</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/transaction/?trans_id=<%= result[i].trans_id %>"><%= result[i].description %> </a></td>
        <td><%=result[i].amount%></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/transaction/edit/?trans_id=<%= result[i].trans_id %>'">Edit</button>
            <form action="/transaction/delete/" style="display:inline;">
                <input type="hidden" name="trans_id" id="trans_id" value="<%= result[i].trans_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>