<%- include("../includes/header.ejs", {title: "Update transaction" }); %>

<h1>Update</h1>
<form action="/transaction/update" method="get">
    <input type="hidden" id="trans_id" name="trans_id" value="<%= transaction.trans_id %>">
    Date made, input like 2017-12-15: <input id="made_on" name="made_on" type="text" value="<%= transaction.made_on %>" required/>
    <br />
    <br />
    Amount: <input id="amount" name="amount" type="text" value="<%= transaction.amount %>" required/>
    <br />
    <br />
    Description: <input id="description" name="description" type="text" value="<%= transaction.description %>" required/>
    <br />
    <br />
    Income/Expense:
    <select id ="type_of" name="type_of">
      <%var incomeSelected = "";
      var expenseSelected = "";
      if( transaction.type_of  == 'Income'){
        incomeSelected = "selected";
        }
        else
        expenseSelected = "selected";
      %>

        <option value="type_of"> Income <%= incomeSelected %></option>
        <option value="type_of"> Expense <%= expenseSelected %></option>
    </select>
    <br />
    <br />
    budgets
    <br />
    <select id="budget_id" name="budget_id" multiple="multiple">
        <% for(var i=0; budget.length > i; i++ ) {
            var selected = "";

            if(budget[i].trans_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= budget[i].budget_id %>" <%= selected %> >
            <%= budget[i].budget_name %></option>
        <% } %>
    </select>
    <br />
    <br />
    Made from:
    <br />
    <select id="account_id" name="account_id">
        <% for(var i=0; user.length > i; i++ ) { %>
        <option value="<%= user[i].account_id %>"><%= user[i].fname %></option>
        <% } %>
    </select>
    <br />
    <br />

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#budget_id').multiselect();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#type_of').multiselect();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#account_id').multiselect();
        });
    </script>
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>