<%- include("../includes/header.ejs", {title: "Update " + budget.budget_name}); %>

<h1>Update <%= budget.budget_name%></h1>
<br> <br>

<form action="/budget/insert" method="get">
    <input type="hidden" name="budget_id" id="budget_id" value="<%= budget.budget_id%>">
    Name: <input id="budget_name" name="budget_name" type="text" value="<%= budget.budget_name%>">
    <br>
    Amount: <input id="amount" name="amount" type="text" value="<%= budget.amount%>">
    <br>
    <input type="submit">
</form>

<%- include("../includes/footer.ejs"); %>