<%- include("../includes/header.ejs", {title:"Address - By Id"}); %>

<h1>budget</h1>
<ul>
    <li> Name: <%= budget.budget_name%> </li>
    <li> Amount: <%= budget.amount%> </li>
</ul>
<%- include("../includes/footer.ejs"); %>