<%- include("../includes/header.ejs", {title:"budget - Add"}); %>

<h1>Add new budget</h1>
<br> <br>

<form action="/budget/insert" method="get">
    Name: <input id="budget_name" name="budget_name" type="text" required>
    <br>
    Amount: <input id="amount" name="amount" type="text" required>
    <br>
    <input type="submit">

</form>

<%- include("../includes/footer.ejs"); %>