<%- include("../includes/header.ejs", {title:"Address - View All"}); %>

<h1>Budget</h1>
<a href="/budget/add">Add a new budget</a>
<br> <br>

<table border="1">
    <tr><th>Name</th><th>Amount</th><th>Edit</th><th>Delete</th></tr>
    <% for (var i = 0; i < result.length; i++) {%>
    <tr>
        <td><a href="/budget/?budget_id=<%=result[i].budget_id%>"><%=result[i].budget_name%></a></td>
        <td><%=result[i].amount%></td>
        <td>
            <form action="/budget/edit/">
                <input type="hidden" name="budget_id" id="budget_id" value="<%= result[i].budget_id%>">
                <input type="submit" value="Edit">
            </form>
        </td><td>
            <form action="/budget/delete/">
                <input type="hidden" name="budget_id" id="budget_id" value="<%= result[i].budget_id%>">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    <%}%>
</table>

<%- include("../includes/footer.ejs"); %>