<%- include("../includes/header.ejs", {title:"About"}); %>

<h1>About</h1>
<br>
<br>
<p>The idea behind this database stems from my passion for personal finance, and
    more specifically budgeting. From what I have seen, my generation, the Millennials, are<br>
    cautious spenders but they are bad a keeping a budget and having a general understanding
    about personal finance. There are many popular programs out right now that that do<br>
    similar tasks as my database is designed to do, namely Personal Capital, and Mint; but
    the main difference is mine is much more bare bones and is designed to be simple and<br>
    straight forward. The main purpose of it is to keep track of your spending from month to
    month and to run helpful reports to see where there are areas of improvement for your<br>
    budget.<br><br>
    The structure of this database revolves around a user who can set budgets and
    then add transactions. Transactions can be income or expenditures since both are<br>
    important to keep track of. These transactions will namely contain a date, amount, short
    description, categories, and a budget that the transaction belongs to. With this<br>
    information the database has useful queries that allow the user to see his/her overall
    income and spending for the month, their spending for a particular category, as well as<br>
    helpful reports about how their budgets are going for a certain time frame.</p>

<h1>To Use</h1>
<p>
    1.) create a new user under 'Users - View All'<br>
    2.) If you would like to create more budgets do that under 'Budgets - View All'<br>
    3.) Make sure to add your newly create budget to your account. do this by clicking edit on 'Users - View All'<br>
    4.) Start adding Transactions to your account.<br>
    5.) run reports to see your income and spending habits.<br>
</p>
<br>
<br>
<h4>Entity Relationship Diagram</h4>
<img src="/images/erDiagram.png"/>
<br>
<br>
<h4>Relational Schema</h4>
<img src="/images/relationSchema.png"/>
<br>
<br>


<%- include("../includes/footer.ejs"); %>