<%- include("../includes/header.ejs", {title:"data"}); %>

<h1>Helpful Tools</h1>
<a href="/data/view">All Expenses Listed</a>
<br>
<br>
<a href="/data/over500">Expenses over 500!</a>
<br>
<br>




<%- include("../includes/footer.ejs"); %>