<%- include("../includes/header.ejs", {title:"Add a New Transaction"}); %>
<h1>Calculate Expenses for a given month</h1>
<form action="/data/" method="get">
    Month (1,2,3, etc...): <input id="month" name="month" type="text" required/>

    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>

