<%- include("../includes/header.ejs", {title:"Expenses - In Month"}); %>

<h1>Expenses over 500 in December!</h1>
<br> <br>

<table border="1">
    <tr><th>Description</th><th>Amount</th></tr>
    <% for (var i = 0; i < result.length; i++) {%>
    <tr>
        <td><%=result[i].description%></td>
        <td><%=result[i].amount%></td>

    </tr>
    <%}%>
</table>
<a href="/data/all"><< back</a>

<%- include("../includes/footer.ejs"); %>