<%- include("../includes/header.ejs", {title:"Data - Expenses Lis"}); %>

<h1>All Expenses</h1>
<br> <br>

<table border="1">
    <tr><th>Name</th><th>made on</th><th>total expenses recorded</th></tr>
    <% for (var i = 0; i < result.length; i++) {%>
    <tr>
        <td><%=result[i].fname%></td>
        <td><%=result[i].made_on%></td>
        <td><%=result[i].total_expenses%></td>
    </tr>
    <%}%>
</table>

<%- include("../includes/footer.ejs"); %>